:root {
    box-sizing: border-box;
}
*, ::before, ::after {
    box-sizing: inherit;
}
body {
    margin: 0px;
    padding: 0px;
}

nav {
    height: 64px;
    width: 100%;
    background-color: aqua;
    font-size: 34px;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav li {
    list-style: none;
    display: inline-block;
    padding: 8px;
    margin: 4px;
    border-radius: 5px;
    border-color: blueviolet;
    background-color: bisque;
}

.photo li img{
    width: 100%;
}

.photo li{
    list-style: none;
    display: inline-block;
    width: 24%;
}